@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.content {
    display: flex;
    min-height: 100vh;
}