/* Sidebar */
.sidebar {
    background-color: #0d131f;
    min-width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

/* Sidebar title */
.sidebar > .titleContainer {
    height: 75px;
    background-color: #070b11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* Search bar */
.searchBar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #10213c;
    border-radius: 8px;
    width: 90%;
    margin: 16px auto 16px auto;
    height: 40px;
    font-size: 24px;
}

.searchBar.focused {
    box-shadow: 1px 1px 8px rgba(0, 13, 255, 0.221);
}

.searchBar > .icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.searchBar > .search {
    background-color: #10213c;
    border: 0;
    height: 32px;
    color: white;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

/* Sidebar item */
.sidebar .item {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    padding: 16px;
    cursor: default;
    width: 100%;
}

.sidebar > .item:nth-child(even) {
    background-color: #0b121b;
}

.sidebar .item > .icon {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    cursor: pointer;
}

.sidebar .item >.icon:hover {
    opacity: 0.8;
}

.sidebar .item > .text {
    margin-left: 16px;
    opacity: 0.8;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-right: 16px;
}

.sidebar .item > .text.selected {
    color: rgb(90, 234, 90);
}

.sidebar .item > .removeProjectIcon,
.sidebar .item > .editProjectIcon {
    margin-left: auto;
    margin-right: 8px;
    opacity: 0.1;
}

.sidebar .item > .removeProjectIcon {
    margin-left: 0;
}

/* Sidebar projects */
.sidebar .item.project:hover {
    box-shadow: 1px 1px 8px rgba(51, 61, 255, 0.386);
}

.sidebar .item.todo:hover {
    box-shadow: 1px 1px 8px rgba(51, 255, 51, 0.386);
}

.sidebar .item.project.selected .text {
    opacity: 1;
    font-weight: bold;
}

/* Sidebar todos */
.sidebar .item.todo {
    padding-left: 32px;
}

.sidebar .invisible {
    display: none !important;
}

.sidebar .item.todo > .icon {
    opacity: 0.6;
    width: 24px;
    height: 24px;
    cursor: default;
}

.sidebar .item.todo > .text {
    font-size: 18px;
}

.sidebar .item.todo > .editTodoIcon {
    margin-left: auto;
    margin-right: 8px;
    opacity: 0.1;
    cursor: pointer;
}

.sidebar .item.todo > .editTodoIcon:hover {
    opacity: 1;
}

.sidebar .item.todo > .removeProjectIcon {
    margin-left: 0;
    margin-right: 13px;
    width: 20px;
    height: 20px;
    opacity: 0.1;
    cursor: pointer;
}

.sidebar .item.todo > .removeProjectIcon:hover {
    opacity: 0.8;
}

/* Add todo and project items */
.sidebar .item.addTodoContainer:hover,
.sidebar .item.addProjectContainer:hover {
    box-shadow: none;
}

.sidebar .item.addTodoContainer .text,
.sidebar .item.addProjectContainer .text {
    opacity: 0.2;
    font-size: 18px;
    margin-left: 0;
}

.sidebar .item.addProjectContainer .addProjectTextbox {
    font-size: 24px;
    width: 220px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.75);
    opacity: 0.5;
    padding: 8px 8px 8px 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    opacity: 0.4;
}

.sidebar .item.addProjectContainer .addProjectTextbox:focus {
    outline: none;
}

.sidebar .item.addTodoContainer .icon,
.sidebar .item.addProjectContainer .icon
 {
    margin-left: auto;
    margin-right: 8px;
    opacity: 0.3;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.sidebar .item.addTodoContainer .icon:hover,
.sidebar .item.addProjectContainer .icon:hover {
    opacity: 0.6;
}

/* Add todo modal */
.sidebar .addTodoModalContainer,
.sidebar .editProjectModalContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.sidebar .addTodoModal {
    width: max(50%, 400px);
    border-radius: 16px;
    border-color: #5e86db;
    margin: auto;
    overflow-y: hidden;
}

.sidebar .addTodoModal #AddTodoForm {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(6, 1fr);
    background-color: rgba(255, 255, 0, 0.2);
}

.sidebar .addTodoModal * {
    color: black;
}

.sidebar .addTodoModal input,
.sidebar .addTodoModal textarea {
    padding: 4px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 0, 0);
    border-radius: 4px;
}

.sidebar .addTodoModal input:focus,
.sidebar .addTodoModal textarea:focus
 {
    outline: none !important;
    border: 1px solid #425e9a;
    box-shadow: 0 0 6px #425e9a;
}

.sidebar .addTodoModal button {
    border-radius: 4px;
    border-color: #233252;
    background-color: #425e9a;
    color: white;
    font-weight: bold;
}

.sidebar .formRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}

.sidebar .addTodoModal .formRow label {
    margin-right: 8px;
}

.sidebar .addTodoModal .formRow label.required-field::before {
    content: "*";
    margin-right: 4px;
    font-size: 16px;
    color: red;
}

.sidebar .addTodoModal .formRow input
{
    margin-right: 8px;
    width: 100%;
    border-radius: 4px solid gray;
}

.sidebar .addTodoModal .formRow textArea {
    width: 100%;
    margin-right: 8px;
    padding: 3px;
    border-radius: 4px;
}

.sidebar .addTodoModal #TodoTitleContainer {
    grid-column: 1 / span 6;
}

.sidebar .addTodoModal #TodoDateContainer {
    grid-column: 1 / span 4;
}

.sidebar .addTodoModal #TodoDateContainer label {
    white-space: nowrap;
}

.sidebar .addTodoModal #TodoPriorityContainer {
    grid-column: 5 / span 2;
}

.sidebar .addTodoModal #TodoDescriptionContainer {
    grid-column: 1 / span 4;
    grid-row: 3 / span 4;
}

.sidebar .addTodoModal #TodoDescriptionContainer #TodoDescription,
.sidebar .addTodoModal #TodoNotesContainer #TodoNotes
{
    height: 100%;
    text-align: top;
}

.sidebar .addTodoModal #TodoNotesContainer {
    grid-column: 5 / span 2;
    grid-row: 3 / span 4;
}

.sidebar .addTodoModal #AddTodoBtnContainer
{
    grid-column: 1 / span 4;
    display: flex;
    justify-content: left;
    margin-right: 16px;
}

.sidebar .addTodoModal #TodoCloseBtnContainer {
    grid-column: 5 / span 2;
    display: flex;
    justify-content: right;
    margin-right: 16px;
}

.sidebar .addTodoModal #AddTodoBtnContainer #AddTodoBtn,
.sidebar .addTodoModal #TodoCloseBtnContainer #TodoCloseBtn {
    height: 26px;
    width: 100%;
    margin-bottom: 8px;
}

/* Edit Project Title Modal */
.sidebar .editProjectModal {
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    width: 50%;
    max-width: 400px;
}

.sidebar .editProjectModal input {
    width: 100%;
    color: black;
}

.sidebar .editProjectModal button {
    width: 45%;
    border-radius: 4px;
    border-color: #233252;
    background-color: #425e9a;
    color: white;
    font-weight: bold;
}

.sidebar .editProjectModal button:last-child {
    margin-left: auto;
}