/* Sidebar */
.sidebar {
    background-color: #0d131f;
    min-width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

/* Sidebar title */
.sidebar > .titleContainer {
    height: 75px;
    background-color: #070b11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* Search bar */
.searchBar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #10213c;
    border-radius: 8px;
    width: 90%;
    margin: 16px auto 0 auto;
    height: 40px;
    font-size: 24px;
}

.searchBar.focused {
    box-shadow: 1px 1px 8px rgba(0, 13, 255, 0.221);
}

.searchBar > .icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.searchBar > .search {
    background-color: #10213c;
    border: 0;
    height: 32px;
    color: white;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

/* Sidebar item */
.sidebar > .item {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    margin-left: 8px;
    padding: 24px 8px 0px 8px;
    cursor: default;
}

.sidebar > .item > .icon {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    cursor: pointer;
}

.sidebar > .item >.icon:hover {
    opacity: 0.8;
}

.sidebar > .item > .text {
    margin-left: 16px;
    opacity: 0.8;
}

.sidebar > .item > .removeProjectIcon {
    margin-left: auto;
    margin-right: 8px;
    opacity: 0.1;
}